#font{
    background: url(../comprimidas/pexels-asad-photo-maldives-3601453.jpg);
    padding: 200px 0;
    background-size:cover ;
    margin-top: -4em;
}
.container{
    width: 90%;
    max-width: 1280px;
    margin: auto;
    
}
.contenedor::-webkit-scrollbar{
    width: 12px;
    background: rgb(139, 25, 25);

}
.container-all{
    color: #fff;
}
.title{
    font-size: 3.5em;
}
.second_paragraph{
    font-size: 1.5em;
}
.button{
    text-decoration: none;
    display: inline-block;
    border: 1px solid coral;
    padding:20px 40px;
    color:#fff;
    background-color:coral;
}
/*segunda parte*/
h2{
    text-align: center;
    margin-top: 80px;
}
.container-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}
.container-flex-img{
    width: 30%;
}
img{
   width: 80%;
}
.container-flex-img p{
    padding-left: 3em;    
    font-size: 1.5em;
}
.button2{
    text-decoration: none;
    padding-left: 5.5em;
    color: coral;
    margin-bottom: 30px;
}
#font2{
    background:url(../comprimidas/martin-becker-7LcTRUCOlP0-unsplash.jpg) ;
    padding:150px 0;
    background-size:cover ;

}
.container-allother{
    background: #fff;
    margin-left: 45em;
    padding: 70px 70px;
    display: inline-block;
}
.other-text{
    font-size: 1.8em;
}
.other_paragraph{
    line-height: 1.8;
}
.button3{
    text-decoration: none;
    border: 1px solid coral;
    display: inline-block;
    padding:15px 45px;
    background: coral;
    color: #fff;
    margin-left: 10em;
}
/*media query*/
@media(max-width:480px){
    #font{
        margin-bottom: 7em;
        margin-top: -9em;
    }
    .container-flex{
        flex-direction: column;
    }
    .container-flex-img p {
        text-align: center;
    }
    .container-flex-img {
        width: 100%;
        margin-left: 0.5em;
    }
    .container-flex-img {
        width: 100%;
        margin-left: 0.5em;
        margin-bottom: 2.5em;
    }
    img {
        width: 92%;
    }
    .container-allother {
        background: #fff;
        margin-left: 0em;
        padding: 21px 23px;
        display: inline-block;
    }
    .button3 {
        
        padding: 17px 44px;
      
        margin-left: 5em;
    }
    .button2{
        padding-left: 8.5em;

    }
    
}
@media(min-width:481px) and (max-width:800px){
    #font{
        margin-bottom:2em;
        padding-top: 2em;
    }
    .container-allother {
        margin-left: 10em;

    }
    .container-flex-img p {
        padding-left: 1em;
    }
    .button2 {
        padding-left: 2.5em;

    }
    .container-flex {
        margin-bottom: 3em;
    }
    .container-flex-img {
        width: 30%;
    }
    .container-flex-img p {
        padding-left: 1em;
    font-size: 1.5em;

    }
    .button2 {
        padding-left: 2.5em;
    }
    .button3 {
        padding: 16px 45px;
        margin-left: 7em;
    }
}
@media(min-width:490px) and (max-width:850px){
    #font{
        padding-top: 2em;
    }
    .container-allother {
        margin-left: 20em;
    }
    .button3 {
        padding: 20px 45px;
        margin-left: 7em;
    
    }
    
}
@media(min-width:550px) and (max-width:1025px){
    .container-allother {
        margin-left: 5em;
    }
    .button3{
        padding: 20px 45px;
        margin-left: 8em;
    }
    .container-flex-img {
        width: 100%;
        margin-left: 0.5em;
    }
    .container-flex-img {
        width: 100%;
        margin-left: 0.5em;
        margin-bottom: 2.5em;
    }
    img {
        width: 92%;
    }
    .container-allother {
        background: #fff;
        margin-left: 0em;
        padding: 21px 23px;
        display: inline-block;
    }
    .button3 {
        
        padding: 17px 44px;
      
        margin-left: 7em;
    }
    
}